// Bootstrap functions
@import "../../themes/starter/node_modules/bootstrap/scss/functions";

// Our styling variables
@import "./variables";

// sass-lint:disable clean-import-paths
@import "../../themes/starter/node_modules/bootstrap/scss/mixins";
@import "../../themes/starter/node_modules/bootstrap/scss/variables";
@import "../../themes/starter/node_modules/bootstrap/scss/alert";
@import "../../themes/starter/node_modules/bootstrap/scss/tables";
@import "../../themes/starter/node_modules/bootstrap/scss/media";
@import "../../themes/starter/node_modules/bootstrap/scss/type";
@import "../../themes/starter/node_modules/bootstrap/scss/utilities";
@import "../../themes/starter/node_modules/font-awesome/scss/font-awesome";
// sass-lint:enable clean-import-paths

@import "./utils/mixins";
@import "./utils/theme-styles";
@import "./typography";

// Base font sizing
html {
  font-size: 62.5%; // Adjusted so that 36px is equal to 3.6rem
}

// Right wrap editor class
img.right.ss-htmleditorfield-file.image {
  clear: right;
  float: right;
  margin: 0 0 2.4rem 2.4rem;
}

// Left wrap editor class
img.left.ss-htmleditorfield-file.image {
  clear: left;
  float: left;
  margin: 0 2.4rem 2.4rem 0;
}

// Center block
img.center.ss-htmleditorfield-file.image {
  display: block;
  margin: 0 auto;
}

// Left alone, no wrap
img.leftAlone.ss-htmleditorfield-file.image {
  clear: both;
  display: block;
  margin: 0 2.4rem 2.4rem 0;
}

// Right alone, no wrap
img.rightAlone.ss-htmleditorfield-file.image {
  clear: both;
  display: block;
  margin: 0 0 2.4rem auto;
}
